@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Fjalla+One|Open+Sans");
body {
  background: #333;
  color: white; }

a {
  text-decoration: none;
  color: orange;
  font-family: 'Open Sans', sans-serif; }

* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

.gallery {
  width: 100vw;
  background: #d1d1c9; }

.gallery-header {
  display: none; }

.img-gallery {
  padding: 5vw;
  display: flex;
  flex-direction: column; }

.card {
  height: 250px;
  width: 100%;
  background-color: #333;
  background-size: cover;
  background-position: center;
  margin-bottom: 5vw;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  padding: 0 0 40px 40px; }
  .card .card-text {
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3em; }
  .card .card-icon {
    background-color: rgba(60, 60, 60, 0.6);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .card .card-icon img {
      position: absolute;
      height: 35px;
      width: auto;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .card .orange-line {
    height: 5px;
    width: 40px;
    background-color: #dc7725;
    margin-bottom: 15px; }

#card1 {
  background-image: url("../img/rafting.jpg"); }
  @media screen and (min-width: 768px) {
    #card1 {
      flex-basis: 768px; } }

#card2 {
  background-image: url("../img/basecamp.jpg"); }

#card3 {
  background-image: url("../img/backpack.jpg"); }

#card4 {
  background-image: url("../img/canoe.jpg"); }

#card5 {
  background-image: url("../img/photo.jpg"); }

#card6 {
  background-image: url("../img/custom.jpg"); }
  @media screen and (min-width: 768px) {
    #card6 {
      flex-basis: 768px; } }

@media screen and (min-width: 768px) {
  .img-gallery {
    padding: 0;
    flex-flow: row wrap; }
    .img-gallery .card {
      margin-bottom: 0;
      height: 420px;
      flex-basis: 384px; } }
@media screen and (min-width: 961px) {
  .img-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 420px 420px; }

  .card {
    flex: 0; }

  #card1 {
    grid-column: 1 / 3; }

  #card6 {
    grid-column: 3 / 5; } }
.hero {
  background-image: url("../img/hero-slide1.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  padding: 15px 2vw 0; }

.hero-nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .hero-nav .nav-logo {
    display: flex;
    align-items: center; }
    .hero-nav .nav-logo h3 {
      font-family: 'Playfair Display', serif;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 1.2em; }
    .hero-nav .nav-logo .nav-logo-img {
      height: 40px;
      margin-right: -20px;
      margin-left: -20px; }
  .hero-nav .nav-link {
    display: none; }
  .hero-nav .hamburger {
    font-size: 2.5em;
    color: white; }

.title {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .title h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: .7em;
    text-transform: uppercase;
    letter-spacing: .4em;
    margin: 0; }
  .title h1 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 20px; }
  .title .hero-hr {
    width: 250px;
    height: 5px;
    background: white; }

.explore-bubble {
  display: none; }

.play-button {
  position: relative;
  background: rgba(225, 225, 225, 0.5);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 20px; }
  .play-button .press-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
    height: 35px; }

/*# sourceMappingURL=main.css.map */
